{{!-- includes/breadcrumb --}}

<!-- BEGIN .{{prefix}}page-breadcrumb -->
<ol class="align-items-center {{prefix}}page-ribbon breadcrumb" aria-label="breadcrumb" role="navigation">
	<li><span id="refresh" class="btn {{prefix}}ribbon-btn {{prefix}}theme-btn" data-action="resetWidgets"><i class="fa fa-refresh"></i></span></li>
	{{#each navigation }}
	{{#iff this.slug '==' ../parentPage }}
		<li class="breadcrumb-item"><a href="{{this.url}}">{{this.title}}</a></li>
		{{#each this.subMenu}}
			{{#iff this.slug '==' ../../firstLevelChild}}
				<li class="breadcrumb-item"><a href="{{this.url}}">{{this.title}}</a></li>
				{{#each this.subMenu}}
					{{#iff this.slug '==' ../../../secondLevelChild}}
						<li class="breadcrumb-item"><a href="{{this.url}}">{{this.title}}</a></li>
					{{/iff}}		
				{{/each}}
			{{/iff}}		
		{{/each}}
	{{/iff}}
	{{/each}}
	
</ol>

<div class="{{prefix}}theme-settings">
	<a href="javascript:void(0)" class="{{prefix}}theme-settings-toggle" onclick="SAtoggleClass(this, '.{{prefix}}theme-settings', 'active')"><span class="fa fa-cogs fa-spin"></span></a>
	<h4>Layout Options</h4>
	<ul class="list-unstyled">
		<li>
			<label class="vcheck">
				<input type="checkbox" id="SAFixedHeader" data-add-class="{{prefix}}fixed-header" data-remove-class="{{prefix}}fixed-header {{prefix}}fixed-navigation {{prefix}}fixed-ribbon " onchange="SASetClass(this)"> 
				<span>Fixed Header</span>
			</label>
		</li>
		<li>
			<label class="vcheck">
				<input type="checkbox" id="SAFixedNavigation" data-add-class="{{prefix}}fixed-navigation {{prefix}}fixed-header" data-remove-class="{{prefix}}fixed-navigation {{prefix}}fixed-ribbon" onchange="SASetClass(this)">
				<span>Fixed Navigation</span>
			</label>
		</li>
		<li><label class="vcheck"><input type="checkbox" id="SAFixedRibbon" data-add-class="{{prefix}}fixed-navigation {{prefix}}fixed-header {{prefix}}fixed-ribbon" data-remove-class="{{prefix}}fixed-ribbon" onchange="SASetClass(this)"> <span>Fixed Ribbon</span></label></li>
		<li><label class="vcheck"><input type="checkbox" id="SAFixedFooter" data-add-class="{{prefix}}fixed-page-footer" data-remove-class="{{prefix}}fixed-page-footer" onchange="SASetClass(this)"> <span>Fixed Footer</span></label></li>
		<li><label class="vcheck"><input type="checkbox" id="SAContainerInside" data-add-class="{{prefix}}inside-container" data-remove-class="{{prefix}}inside-container {{prefix}}fixed-ribbon" data-remove-class="{{prefix}}fixed-navigation" onchange="SASetClass(this)"> <span>Inside <strong>.container</strong></span></label></li>
		<li><label class="vcheck"><input type="checkbox" id="SAMenuOnTop" data-add-class="{{prefix}}menu-on-top" data-remove-class="{{prefix}}menu-on-top" onchange="SASetClass(this)"> <span>Menu on <strong>top</strong></span></label></li>
	</ul>
	<h4>Clear Localstorage</h4>
	<a href="javascript:void(0)" class="btn {{prefix}}btn-primary btn-block" data-action="resetWidgets"><span class="fa fa-refresh"></span> Factory Reset</a>

	<h6 class="margin-top-10 text-medium margin-bottom-5">SmartAdmin Skins</h6>
	<section id="smart-styles">
		<a href="javascript:void(0);" id="smart-style-0" data-skinlogo="assets/img/common/sa-logo.png" class="btn btn-block btn-xs text-white margin-right-5" style="background-color:#4E463F;">
			<i class="fa fa-check fa-fw" id="skin-checked"></i>Smart Default
		</a>
		<a href="javascript:void(0);" id="smart-style-1" data-skinlogo="assets/img/common/sa-logo-white.png" class="btn btn-block btn-xs text-white" style="background:#3A4558;">Dark Elegance</a>
		<a href="javascript:void(0);" id="smart-style-2" data-skinlogo="assets/img/common/sa-logo-blue.png" class="btn btn-xs btn-block text-darken margin-top-5" style="background:#fff;">Ultra Light</a>
		<a href="javascript:void(0);" id="smart-style-3" data-skinlogo="assets/img/common/sa-logo-pale.png" class="btn btn-xs btn-block text-white margin-top-5" style="background:#f78c40">Google Skin</a>
		<a href="javascript:void(0);" id="smart-style-4" data-skinlogo="assets/img/common/sa-logo-pale.png" class="btn btn-xs btn-block text-white margin-top-5" style="background: #bbc0cf; border: 1px solid #59779E; color: #17273D !important;">PixelSmash</a> <a href="javascript:void(0);" id="smart-style-5" data-skinlogo="assets/img/common/sa-logo-pale.png" class="btn btn-xs btn-block text-white margin-top-5" style="background: rgba(153, 179, 204, 0.2); border: 1px solid rgba(121, 161, 221, 0.8); color: #17273D !important;">Glass </a><a href="javascript:void(0);" id="smart-style-6" data-skinlogo="assets/img/common/sa-logo-pale.png" class="btn btn-xs btn-block text-white margin-top-6" style="background: #2196F3; border: 1px solid rgba(0, 0, 0, 0.3); color: #FFF !important;">MaterialDesign <sup>beta</sup> </a>
	</section>
</div>

<!-- END .{{prefix}}page-breadcrumb -->