{{!-- blank.hbs --}}
{{#> layout title=pageTitle parentPage='smart-admin-intel' firstLevelChild='layouts'}}
	{{#*inline "sa-page-content"}}
		
		<div>
			<div class="">
				<div class="">
					<h1 class="page-title text-center well hidden-mobile">
						SmartAdmin Layout Options<br>
						<small class="text-success">Morph SmartAdmin to your need! The layout of SmartAdmin is extreamly flexible</small>
					</h1>
				</div>
			</div>

			<section id="widget-grid" class="">
				<!-- row -->
				<div class="row">
					<!-- a blank row to get started -->
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Layout type "<strong>Navigation Minified</strong>" <br> 
								<small>
									Add the following class(s) to body tag 
									<code>.minified</code>
								</small>
							</h5>
							<h5>
								<small>
									<i>
										Avalible options
									</i>
								</small>
							</h5>
							<span class="label label-default">.{{prefix}}fixed-navigation</span>
							<span class="label label-default">.container</span>
							<span class="label label-default">.{{prefix}}fixed-page-footer</span>
							<span class="label label-default">.{{prefix}}fixed-header</span>
							<span class="label label-default">.{{prefix}}fixed-ribbon</span>
							<span class="label label-default">.smart-rtl</span>
							<br>
							<br>	

							<img src="assets/img/layout-skins/layout-collapse.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Layout type "<strong>Hidden Navigation</strong>" <br> 
								<small>Add the following class(s) to body tag <code>.{{prefix}}hidden-menu</code></small>
							</h5>
							<h5>
								<small>
									<i>
										Avalible options
									</i>
								</small>
							</h5>
							<span class="label label-default">.{{prefix}}fixed-navigation</span>
							<span class="label label-default">.container</span>
							<span class="label label-default">.{{prefix}}fixed-page-footer</span>
							<span class="label label-default">.{{prefix}}fixed-header</span>
							<span class="label label-default">.{{prefix}}fixed-ribbon</span>
							<span class="label label-default">.smart-rtl</span>
							<br>
							<br>
							<img src="assets/img/layout-skins/layout-hidden.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
						
				</div>
				<div class="row">

					<!-- a blank row to get started -->
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Layout type "<strong>Menu on Top with center content</strong>" <br> 
								<small>Add the following class(s) to body tag <code>.{{prefix}}fixed-navigation .container</code></small>
							</h5>
							<h5>
								<small>
									<i>
										Avalible options
									</i>
								</small>
							</h5>
							<span class="label label-default">.{{prefix}}fixed-navigation</span>
							<span class="label label-default">.{{prefix}}fixed-page-footer</span>
							<span class="label label-default">.fixed-header</span>
							<span class="label label-default">.{{prefix}}fixed-ribbon</span>
							<span class="label label-default">.smart-{{prefix}}rtl</span>
							<br>
							<br>
							<img src="assets/img/layout-skins/layout-menutop.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Layout type "<strong>Center content with minified nav</strong>" <br> 
								<small>Add the following class(s) to body tag <code>.minified .container</code></small>
							</h5>
							<h5>
								<small>
									<i>
										Avalible options
									</i>
								</small>
							</h5>
							<span class="label label-default">.{{prefix}}fixed-navigation</span>
							<span class="label label-default">.{{prefix}}fixed-navigation</span>
							<span class="label label-default">.{{prefix}}fixed-page-footer</span>
							<span class="label label-default">.fixed-header</span>
							<span class="label label-default">.{{prefix}}fixed-ribbon</span>
							<span class="label label-default">.smart-{{prefix}}rtl</span>
							<br>
							<br>
							<img src="assets/img/layout-skins/layout-collapse-minified.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
						
				</div>
				<div class="row">

					<!-- a blank row to get started -->
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Layout type "<strong>RTL Layout</strong>" <br> 
								<small>Add the following class(s) to body tag <code>.smart-rtl</code></small>
							</h5>
							<h5>
								<small>
									<i>
										Avalible options
									</i>
								</small>
							</h5>
							<span class="label label-default">.container</span>
							<span class="label label-default">.{{prefix}}hidden-menu</span>
							<span class="label label-default">.{{prefix}}fixed-page-footer</span>
							<span class="label label-default">.{{prefix}}fixed-header</span>
							<span class="label label-default">.{{prefix}}fixed-ribbon</span>
							<span class="label label-default">.minified</span>
							<br>
							<br>
							<img src="assets/img/layout-skins/layout-rtl.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
					<div class="col-sm-6">
						<!-- your contents here -->
						<div class="well text-center well-layouts">
							<h5>
								Layout type "<strong>RTL with Menu on Top</strong>" <br> 
								<small>Add the following class(s) to body tag <code>.smart-rtl .{{prefix}}fixed-navigation</code></small>
							</h5>
							<h5>
								<small>
									<i>
										Avalible options
									</i>
								</small>
							</h5>
							<span class="label label-default">.{{prefix}}fixed-navigation</span>
							<span class="label label-default">.container</span>
							<span class="label label-default">.{{prefix}}fixed-page-footer</span>
							<span class="label label-default">.{{prefix}}fixed-header</span>
							<span class="label label-default">.{{prefix}}fixed-ribbon</span>
							<br>
							<br>
							<img src="assets/img/layout-skins/layout-rtl-menutop.png" class="img-responsive center-block img-layouts">
						</div>
					</div>
						
				</div>
				<!-- end row -->
			</section>
			<!-- end widget grid -->
		</div>

	{{/inline}}
{{/layout}}
