{{!-- blank.hbs --}}
{{#> layout title=pageTitle headerLogin=true publicHeader = publicHeader hasSidebar = hasSidebar hasFooter = hasFooter hasBreadcrumb = hasBreadcrumb bodyClass="animated fadeInDown" }}
	
	{{#*inline "head-block"}}
	<link rel="stylesheet" type="text/css" href="assets/pages/login.css">
	{{/inline}}

	{{#*inline "sa-page-content"}}

	<div class="main" role="main">

		<!-- MAIN CONTENT -->
		<div id="content" class="container padding-top-10">

			<div class="row">
				<div class="col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
					<h1 class="text-red login-header-big">SmartAdmin</h1>
					<div class="clearfix">
						<div class="hero">
							<div class="pull-left login-desc-box-l">
								<h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
								<div class="login-app-icons">
									<a href="javascript:void(0);" class="btn {{prefix}}btn-danger btn-sm">Frontend Template</a>
									<a href="javascript:void(0);" class="btn {{prefix}}btn-danger btn-sm">Find out more</a>
								</div>
							</div>
							
							<img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

						</div>
					</div>
					

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
							<p>
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
							</p>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h5 class="about-heading">Not just your average template!</h5>
							<p>
								Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
							</p>
						</div>
					</div>

				</div>
				<div class="col-sm-12 col-lg-4">
					<div class="well no-padding">
						<form action="index.html" id="login-form" class="smart-form client-form">
							<header>
								Sign In
							</header>

							<fieldset>
								
								<section>
									<label class="label">E-mail</label>
									<label class="input mb-3"> <i class="icon-append fa fa-user"></i>
										<input type="email" name="email">
										<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
								</section>

								<section>
									<label class="label">Password</label>
									<label class="input mb-1"> <i class="icon-append fa fa-lock"></i>
										<input type="password" name="password">
										<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
									<div class="note mb-3">
										{{#getMenuItem navigation 'forgotpassword'}}
										<a href="{{url}}">{{title}}</a>
										{{/getMenuItem}}
									</div>
								</section>

								<section>
									<label for="gra-0" class="vcheck mb-3">
										<input type="checkbox" name="gra-0" id="gra-0" checked="checked">
										<span></span> Stay signed in
									</label>
								</section>
							</fieldset>
							<footer>
								<button type="submit" class="btn {{prefix}}btn-primary">
									Sign in
								</button>
							</footer>
						</form>

					</div>
					
					<h5 class="text-center"> - Or sign in using -</h5>
														
						<ul class="list-inline text-center">
							<li>
								<a href="javascript:void(0);" class="btn {{prefix}}btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="btn {{prefix}}btn-info btn-circle"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="javascript:void(0);" class="btn {{prefix}}btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					
				</div>
			</div>
		</div>

	</div>

	{{/inline}}
{{/layout}}
